USE [E_TicaretDB]
GO
/****** Object:  StoredProcedure [dbo].[AddOrder]    Script Date: 4.10.2025 11:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddOrder]
    @CustomerID INT,
    @ProductID INT,
    @Quantity INT,
    @OrderStatusID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentStock INT;
    SELECT @CurrentStock = Stock FROM Products WHERE ProductID = @ProductID;

    IF @CurrentStock < @Quantity
    BEGIN
        RAISERROR('Yeterli stok yok!', 16, 1);
        RETURN;
    END

    INSERT INTO Orders (CustomerID, ProductID, Quantity, OrderStatusID, OrderDate)
    VALUES (@CustomerID, @ProductID, @Quantity, @OrderStatusID, GETDATE());

    -- Stoktan düş
    UPDATE Products SET Stock = Stock - @Quantity WHERE ProductID = @ProductID;
END
