USE [E_TicaretDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrder]    Script Date: 4.10.2025 11:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DeleteOrder]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ProductID INT, @Quantity INT;

    SELECT @ProductID = ProductID, @Quantity = Quantity FROM Orders WHERE OrderID = @OrderID;

    -- Stoku geri ekle
    UPDATE Products SET Stock = Stock + @Quantity WHERE ProductID = @ProductID;

    -- Siparişi sil
    DELETE FROM Orders WHERE OrderID = @OrderID;
END
