USE [E_TicaretDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrder]    Script Date: 4.10.2025 11:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateOrder]
    @OrderID INT,
    @ProductID INT,
    @Quantity INT,
    @OrderStatusID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Mevcut sipariş miktarını al
    DECLARE @OldQuantity INT, @CurrentStock INT;
    SELECT @OldQuantity = Quantity FROM Orders WHERE OrderID = @OrderID;
    SELECT @CurrentStock = Stock FROM Products WHERE ProductID = @ProductID;

    -- Stok kontrolü: güncel miktar + önceki sipariş miktarı
    IF (@CurrentStock + @OldQuantity) < @Quantity
    BEGIN
        RAISERROR('Yeterli stok yok!', 16, 1);
        RETURN;
    END

    -- Stok güncelle
    UPDATE Products SET Stock = Stock + @OldQuantity - @Quantity
    WHERE ProductID = @ProductID;

    -- Sipariş güncelle
    UPDATE Orders
    SET ProductID = @ProductID,
        Quantity = @Quantity,
        OrderStatusID = @OrderStatusID
    WHERE OrderID = @OrderID;
END
