@model e_ticaret_proje.Models.Category

@{
    ViewData["Title"] = "Kategori Güncelleme";
}

<h2>Kategori Güncelleme Sayfası</h2>

<form method="post">
    <br/>
    @Html.Label("Kategori ID: ")
    @Html.TextBoxFor(m => m.CategoryID, new { @class = "form-control", @readonly = "readonly" })
    <br/>

    @Html.Label("Kategori Adı: ")
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
    <br/>

    <button class="btn btn-sm btn-outline-primary">Güncelle</button>
</form>